/*
  TextSize tokens
*/
// Marketing --- Use only for a component which really need to attract some attentions
$display-1: 128px;
$display-2: 96px;
$display-3: 64px;

// Product
$heading-1: 52px;
$heading-1Alt: 76px;
$heading-2: 40px;
$heading-2Alt: 48px;
$heading-3: 32px;
$heading-3Alt: 36px;
$heading-4: 24px;
$heading-4Alt: 28px;
$heading-5: 19px;
$heading-6: 17px;

$body-1: 17px;
$body-2: 19px;
$body-3: 21px;

$caption-1: 13px;
$caption-2: 15px;
