*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  // Enable for debugging
  // outline: 1px solid red;
}

body {
  position: relative;
  color: $dark-hex-60;
  background-color: $light-alpha-100;
}

:global {
  .Hide {
    display: none;
  }

  .topLayer {
    z-index: 99999999;
  }
}
