@import "./invoker-tokens/index.scss";
@import "./invoker-base/index.scss";
@import "./invoker-layout/index";
// @import './simple-reset.scss';

// COMPONENTS
@import "./components/text.scss";
@import "./components/button.scss";
@import "./components/navbar-small.scss";
@import "./components/navbar-wide.scss";
@import "./components/sidebar.scss";
@import "./components/footer.scss";
@import "./components/mobile-step.scss";
@import "./components/voucher.scss";
@import "./components/step.scss";
@import "./components/sticker.scss";
@import "./components/form.scss";
@import "./components/page-transition.scss";

.Hide {
  display: none;
}

// FONT SETUP

@font-face {
  font-family: "Neutra Text";
  src: url("/assets/fonts/NeutraText-Book.otf");
  font-display: swap;
}

@font-face {
  font-family: "Timeout B";
  src: url("/assets/fonts/DearType-TimeoutB-Regular.otf");
  font-display: swap;
}

@font-face {
  font-family: "AlphaMac";
  src: url("/assets/fonts/AlphaMac.ttf");
  font-display: swap;
}

.home-container {
  height: 100%;
  max-height: 100%;
  overflow-y: hidden;
  position: relative;
}

.home-area {
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container-options {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 520px;
  padding-top: 48px;
  padding-bottom: 48px;
  text-align: center;
}

.sticky__footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 24px 16px;
  background-color: rebeccapurple;
  bottom: 0px;
  width: 100%;
  left: 0px;
  right: 0px;
}
