.Emina__Survey {
.button {
  font-weight: 700;
  border-radius: 3px;
  transition: all .36s;
  text-align: center;
  border-width: 1px;
  border-style: solid;

  &--large {
    padding: $space-ml $space-ll;
  }

  &--small {
    padding: $space-sm $space-ml;
  }

  &--stretch {
    @include screen(phone) {
      width: 100%;
    }
    @include screen(tabPortrait) {
      width: unset;
    }
    @include screen(tabLandscape) {
      width: unset;
    }
    @include screen(desktop) {
      width: unset;
    }
    @include screen(desktopWide) {
      width: unset;
    }
  }

  &--primary {
    border-color: $brand-primary-200;
    background-color: $brand-primary-200;
    color: $light-alpha-100;

    &:hover {
      border-color: $brand-primary-300;
      background-color: $brand-primary-300;
      transition: all .28s;
    }
  }

  &--primaryAlt {
    background-color: transparent;
    color: $brand-primary-300;
    border-color: $brand-primary-100;

    &:hover {
      color: $light-alpha-100;
      background-color: $brand-primary-200;
      border-color: $brand-primary-200;
      transition: all .28s;
    }
  }

  &--secondary {
    border-color: $brand-secondary-200;
    background-color: $brand-secondary-200;
    color: $light-alpha-100;

    &:hover {
      border-color: $brand-secondary-300;
      background-color: $brand-secondary-300;
      transition: all .28s;
    }
  }


}
}
