.Emina__Survey {

.main-footer {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  position: relative;

  &__area {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 48px 0;
    margin: 0 auto;
  }

}

.footer-help--mobile,
.footer-help--mobile:active,
.footer-help--mobile:focus {
  cursor: pointer;
  position: fixed;
  top: calc(100% - 72px);
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
  border-radius: 9999px;
  background-color: $brand-primary-100;
  box-shadow: 0px 1px 2px $brand-primary-300;
  color: $light-alpha-100;
  justify-content: center;
  align-items: center;
  transition: all .36s;

  &:hover {
    transition: all .28s;
    box-shadow: 0px 12px 24px -8px $brand-primary-200;
  }

  @include screen(phone) {
    display: flex;
  }
  @include screen(tabPortrait) {
    display: none;
  }
  @include screen(tabLandscape) {
    display: none;
  }
  @include screen(desktop) {
    display: none;
  }
  @include screen(desktopWide) {
    display: none;
  }
}

.footer__help {
  @include screen(phone) {
    display: none;
  }
  @include screen(tabPortrait) {
    display: block;
  }
  @include screen(tabLandscape) {
    display: block;
  }
  @include screen(desktop) {
    display: block;
  }
  @include screen(desktopWide) {
    display: block;
  }
}

}
