.Emina__Survey {
  .form {
    width: 100%;
    &:not(:last-child) {
      @include screen(phone) {
        margin-bottom: $space-l;
      }
      @include screen(tabPortrait) {
        margin-bottom: $space-l;
      }
      @include screen(tabLandscape) {
        margin-bottom: $space-ll;
      }
      @include screen(desktop) {
        margin-bottom: $space-ll;
      }
      @include screen(desktopWide) {
        margin-bottom: $space-ll;
      }
    }
  }

  .form--invalid {
    .form__label {
      color: $brand-primary-300;
    }
  }

  .form__label--optional {
    color: $brand-secondary-90;
  }

  // FIELD TYPE

  // form field text

  .form-field--text {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: $brand-primary-200;
    padding: $space-s 0;
    font-size: $body-3;
    width: 100%;

    &::placeholder {
      color: $dark-hex-40;
    }

    &:focus {
      border-bottom-color: $brand-primary-100;
    }
  }

  // form field textarea

  .form-field--textarea {
    color: $dark-hex-70;
    border: 1px solid $dark-hex-40;
    border-radius: 0px;
    padding: $space-m;
    font-size: 19px;
    line-height: 26px;
    width: 100%;
    background-color: $light-alpha-100;

    &::placeholder {
      color: $dark-hex-50;
    }
  }

  .form-field--submit {
    color: $brand-primary-200;
  }

  // form field simple radio

  .form-field--radio {
    position: absolute;
    appearance: none;
    top: 0;
    left: 0;
    opacity: 0;
  }

  .radio-container {
    display: block;
    position: relative;
    padding-left: 28px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    font-size: 22px;
    line-height: 26px;
    user-select: none;
    transition: all 0.36s;

    &:hover {
      color: $dark-hex-60;
      transition: all 0.28s;
    }
  }

  .radio-checkmark {
    position: absolute;
    top: 8px;
    left: 0;
    height: 20px;
    width: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: #cccccc;
    border-radius: 50%;
    transition: all 0.36s;
  }

  .radio-container:hover .radio-checkmark {
    border-color: $brand-primary-200;
    transition: all 0.28s;
  }

  .radio-container input:checked ~ .radio-checkmark::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $brand-primary-200;
    transition: all 0.28s;
  }

  // form field choice

  .form-field--choices {
    position: relative;
  }

  .choice-icon__container {
    cursor: pointer;
    border: 2px solid $dark-hex-30;
    background-color: $light-alpha-70;
    border-radius: 0px;
    padding: $space-m;
    font-size: $body-2;
    font-weight: $bold;
    width: 100%;
    height: 100%;
    display: block;
    word-break: break-word;
    transition: all 0.36s;

    &:hover {
      border-color: $brand-primary-200;
      box-shadow: 10px 10px 0px 0px $brand-secondary-70;
      transition: box-shadow 0.28s;
      color: $brand-primary-200;
    }
  }

  .choice-icon {
    margin-bottom: $space-sm;
    display: block;
  }

  .product__container {
    cursor: pointer;
    border: 2px solid $dark-hex-30;
    background-color: $light-alpha-70;
    border-radius: 0px;
    font-size: $body-2;
    font-weight: $bold;
    width: 100%;
    height: 100%;
    display: block;
    word-break: break-word;
    transition: all 0.36s;

    &:hover {
      border-color: $brand-primary-200;
      box-shadow: 10px 10px 0px 0px $brand-secondary-70;
      transition: box-shadow 0.28s;
      color: $brand-primary-200;
    }
  }

  .product__name {
    padding: $space-s $space-m $space-m;
  }

  .form-field--choices input:checked ~ .choice-icon__container {
    background-color: $brand-primary-90;
    border-color: $brand-primary-90;
    color: $light-hex-100;
  }

  .form-field--choices input:checked ~ .product__container {
    background-color: $brand-primary-90;
    border-color: $brand-primary-90;
    color: $light-hex-100;
  }

  .form-field--choices input ~ .choice-icon__container .choice-icon {
    color: $dark-hex-50;
  }

  .form-field--choices input:checked ~ .choice-icon__container .choice-icon {
    color: $dark-hex-60;
  }

  .form-field--choices input ~ .product__container .choice-icon {
    color: #fea9af;
  }

  .form-field--choices input:checked ~ .product__container .choice-icon {
    color: $light-alpha-100;
  }
}
