.Emina__Survey {

.mobile-step {
  margin: $space-stack-sm;
  color: $light-hex-100;
  padding: $space-xs $space-sm;
  background-color: $brand-secondary-70;
  width: fit-content;

  @include screen(phone) {
    display: block;
  }
  @include screen(tabPortrait) {
    display: none;
  }
  @include screen(tabLandscape) {
    display: none;
  }
  @include screen(desktop) {
    display: none;
  }
  @include screen(desktopWide) {
    display: none;
  }

}

}