.Emina__Survey {
.Navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;

  @include screen(phone) {
    display: none;
  }
  @include screen(tabPortrait) {
    display: inline-flex;
  }
  @include screen(tabLandscape) {
    display: inline-flex;
  }
  @include screen(desktop) {
    display: inline-flex;
  }
  @include screen(desktopWide) {
    display: inline-flex;
  }

}
}