.Emina__Survey {
.navbar--small {
  padding: $space-m 0px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.08);
  width: 100%;
  text-align: center;

  @include screen(phone) {
    display: block;
  }
  @include screen(tabPortrait) {
    display: none;
  }
  @include screen(tabLandscape) {
    display: none;
  }
  @include screen(desktop) {
    display: none;
  }
  @include screen(desktopWide) {
    display: none;
  }

}
}