.Emina__Survey {
  /* Page Transition */

  html,
  body {
    height: 100%;
  }

  .pt-perspective {
    position: relative;
    width: 100%;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
    overflow-x: hidden;
    @include screen(phone) {
      height: calc(100%);
    }
    @include screen(tabPortrait) {
      height: calc(100% - 72px);
    }
    @include screen(tabLandscape) {
      height: calc(100% - 72px);
    }
    @include screen(desktop) {
      height: calc(100% - 72px);
    }
    @include screen(desktopWide) {
      height: calc(100% - 72px);
    }
  }

  .pt-page {
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow-x: hidden !important;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    @include screen(phone) {
      padding-top: 0;
      height: calc(100vh);
    }
    @include screen(tabPortrait) {
      height: calc(100vh - 72px);
    }
    @include screen(tabLandscape) {
      height: calc(100vh - 72px);
    }
    @include screen(desktop) {
      height: calc(100vh - 72px);
    }
    @include screen(desktopWide) {
      height: calc(100vh - 72px);
    }
  }
  .pt-page::-webkit-scrollbar {
    display: none;
  }

  .pt-page-current,
  .no-js .pt-page {
    display: unset;
    visibility: visible;
    z-index: 1;
  }

  .no-js body {
    overflow: auto;
  }

  /* ANIMATIONS */

  /* animation sets */

  /* move from / to  */

  .pt-page-moveToLeft {
    -webkit-animation: moveToLeft 0.6s ease both;
    animation: moveToLeft 0.6s ease both;
  }

  .pt-page-moveFromLeft {
    -webkit-animation: moveFromLeft 0.6s ease both;
    animation: moveFromLeft 0.6s ease both;
  }

  .pt-page-moveToRight {
    -webkit-animation: moveToRight 0.6s ease both;
    animation: moveToRight 0.6s ease both;
  }

  .pt-page-moveFromRight {
    -webkit-animation: moveFromRight 0.6s ease both;
    animation: moveFromRight 0.6s ease both;
  }

  /********************************* keyframes **************************************/

  /* move from / to  */

  @-webkit-keyframes moveToLeft {
    from {
    }
    to {
      -webkit-transform: translateX(-100%);
    }
  }
  @keyframes moveToLeft {
    from {
    }
    to {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  @-webkit-keyframes moveFromLeft {
    from {
      -webkit-transform: translateX(-100%);
    }
  }
  @keyframes moveFromLeft {
    from {
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  @-webkit-keyframes moveToRight {
    from {
    }
    to {
      -webkit-transform: translateX(100%);
    }
  }
  @keyframes moveToRight {
    from {
    }
    to {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }

  @-webkit-keyframes moveFromRight {
    from {
      -webkit-transform: translateX(100%);
    }
  }
  @keyframes moveFromRight {
    from {
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }
}
