.Emina__Survey {
.Sidebar {

  position: sticky;
  top: 0;
  bottom: 0;
  height: 100%;
  margin-bottom: 0;
  min-height: 100vh;
  padding-bottom: 0px;
  background-color: $brand-primary-70;

  background-position: bottom;
  // background-image: linear-gradient($light-hex-100 1px, transparent 0), linear-gradient(90deg, $light-hex-100 1px, transparent 0);
  background-image: radial-gradient($brand-primary-200 5%, transparent 0);
  background-size: 32px 32px;
  background-position: -20px -20px;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('/assets/stickers/pot.svg');
    background-position: bottom;
    background-repeat: no-repeat;
  }

  @include screen(phone) {
    display: none;
    width: 10%;
  }
  @include screen(tabPortrait) {
    display: unset;
    width: 20%;
    // background-size: 60%;
  }
  @include screen(tabLandscape) {
    display: unset;
    width: 20%;
    // background-size: 40%;
  }
  @include screen(desktop) {
    display: unset;
    width: 20%;
    // background-size: 40%;
  }
  @include screen(desktopWide) {
    display: unset;
    width: 20%;
    // background-size: 40%;
  }

}
}