/* Step Navigation */
.step {

  &__container {
    padding: 0px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    background-color: #fff;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
  }

  &__separator {
    display: flex;
    align-items: flex-end;
    color: $dark-hex-40;
  }

  &__item {
    margin: 0 20px;
    cursor: default;
    line-height: 24px;
    color: $dark-hex-50;

    &--clickable {
      cursor: pointer;
    }

    &--clickable:hover {
      color: $brand-primary-300;
      transition: 0.28s all;
    }

    &--active {
      position: relative;
      color: $brand-primary-200;

      &::after {
        position: absolute;
        color: inherit;
        content: url("/assets/stickers/heart.svg");
        width: 12px;
        height: 12px;
        top: -10px;
        right: -12px;
        transform-origin: 0% 100% 0;
        animation: stepDecoration .38s cubic-bezier(.8,0,.2,1) forwards;
      }
    }
  }

}

@keyframes stepDecoration {
  0% {
    transform: scale(0) rotate(-30deg);
  }
  100% {
    transform: scale(1) rotate(20deg);
  }
}