.bg-sticker {
  position: fixed;
  will-change: transform;
  color: $brand-primary-90;

  &--form {
    @include screen(phone) {
      display: none;
    }
    @include screen(tabPortrait) {
      display: block;
    }
    @include screen(tabLandscape) {
      display: block;
    }
    @include screen(desktop) {
      display: block;
    }
    @include screen(desktopWide) {
      display: block;
    }
  }

  &--product {
    opacity: .44;
    transform: rotate(7deg);
    @include screen(phone) {
      width: 80px;
      top: 36%;
      left: -20px;
    }
    @include screen(tabPortrait) {
      width: 160px;
      top: 40%;
      left: -40px;
    }
    @include screen(tabLandscape) {
      width: 160px;
      top: 40%;
      left: -32px;
    }
    @include screen(desktop) {
      width: 160px;
      top: 40%;
      left: -32px;
    }
    @include screen(desktopWide) {
      width: 160px;
      top: 40%;
      left: -32px;
    }
  }

  &--bif {
    opacity: .44;
    transform: rotate(-20deg);
    @include screen(phone) {
      width: 72px;
      top: 36%;
      right: -16px;
    }
    @include screen(tabPortrait) {
      width: 120px;
      top: 40%;
      right: -20px;
    }
    @include screen(tabLandscape) {
      width: 120px;
      top: 40%;
      right: -20px;
    }
    @include screen(desktop) {
      width: 120px;
      top: 40%;
      right: -20px;
    }
    @include screen(desktopWide) {
      width: 120px;
      top: 40%;
      right: -20px;
    }
  }

  &--facemask {
    opacity: .50;
    top: 20%;
    @include screen(phone) {
      transform: rotate(20deg);
      width: 72px;
      top: 53%;
      right: -12px;
    }
    @include screen(tabPortrait) {
      transform: rotate(11deg);
      width: 128px;
      top: 65%;
      right: -20px;
    }
    @include screen(tabLandscape) {
      transform: rotate(11deg);
      width: 128px;
      top: 65%;
      right: -20px;
    }
    @include screen(desktop) {
      transform: rotate(11deg);
      width: 128px;
      top: 65%;
      right: -20px;
    }
    @include screen(desktopWide) {
      transform: rotate(11deg);
      width: 128px;
      top: 65%;
      right: -20px;
    }
  }

  &--lipstick {
    opacity: .44;
    @include screen(phone) {
      transform: rotate(50deg);
      width: 32px;
      top: 48%;
      left: 0px;
    }
    @include screen(tabPortrait) {
      transform: rotate(45deg);
      width: 40px;
      top: 60%;
      left: 0px;
    }
    @include screen(tabLandscape) {
      transform: rotate(45deg);
      width: 40px;
      top: 60%;
      left: 0px;
    }
    @include screen(desktop) {
      transform: rotate(45deg);
      width: 40px;
      top: 60%;
      left: 0px;
    }
    @include screen(desktopWide) {
      transform: rotate(45deg);
      width: 40px;
      top: 60%;
      left: 0px;
    }
  }

}

.sticker-mobile {
  position: absolute;
  will-change: transform;

  @include screen(phone) {
    display: block;
  }
  @include screen(tabPortrait) {
    display: none;
  }
  @include screen(tabLandscape) {
    display: none;
  }
  @include screen(desktop) {
    display: none;
  }
  @include screen(desktopWide) {
    display: none;
  }

  &--product {
    opacity: .33;
    transform: rotate(7deg);
    @include screen(phone) {
      width: 80px;
      top: 12%;
      left: -12px;
    }
    @include screen(tabPortrait) {
      width: 160px;
      top: 40%;
      left: -40px;
    }
    @include screen(tabLandscape) {
      width: 160px;
      top: 40%;
      left: -32px;
    }
    @include screen(desktop) {
      width: 160px;
      top: 40%;
      left: -32px;
    }
    @include screen(desktopWide) {
      width: 160px;
      top: 40%;
      left: -32px;
    }
  }

  &--bif {
    opacity: .33;
    transform: rotate(-20deg);
    @include screen(phone) {
      width: 72px;
      top: 12%;
      right: -4px;
    }
    @include screen(tabPortrait) {
      width: 120px;
      top: 40%;
      right: -20px;
    }
    @include screen(tabLandscape) {
      width: 120px;
      top: 40%;
      right: -20px;
    }
    @include screen(desktop) {
      width: 120px;
      top: 40%;
      right: -20px;
    }
    @include screen(desktopWide) {
      width: 120px;
      top: 40%;
      right: -20px;
    }
  }

  &--brush {
    opacity: .40;
    @include screen(phone) {
      width: 80px;
      bottom: -30px;
      left: calc(50%);
    }
    @include screen(tabPortrait) {
      width: 128px;
      top: 65%;
      right: -20px;
    }
    @include screen(tabLandscape) {
      width: 128px;
      top: 65%;
      right: -20px;
    }
    @include screen(desktop) {
      width: 128px;
      top: 65%;
      right: -20px;
    }
    @include screen(desktopWide) {
      width: 128px;
      top: 65%;
      right: -20px;
    }
  }

  &--lipstick {
    opacity: .44;
    @include screen(phone) {
      width: 32px;
      bottom: -30px;
      left: calc(50% - 64px);
    }
    @include screen(tabPortrait) {
      width: 40px;
      top: 60%;
      left: 0px;
    }
    @include screen(tabLandscape) {
      width: 40px;
      top: 60%;
      left: 0px;
    }
    @include screen(desktop) {
      width: 40px;
      top: 60%;
      left: 0px;
    }
    @include screen(desktopWide) {
      width: 40px;
      top: 60%;
      left: 0px;
    }
  }
}

.sticker-footer {
  position: absolute;
  will-change: transform;

  @include screen(phone) {
    display: block;
  }
  @include screen(tabPortrait) {
    display: none;
  }
  @include screen(tabLandscape) {
    display: none;
  }
  @include screen(desktop) {
    display: none;
  }
  @include screen(desktopWide) {
    display: none;
  }

  &--product {
    opacity: .33;
    @include screen(phone) {
      width: 80px;
      bottom: -8px;
      left: 8%;
    }
  }

  &--facemask {
    opacity: .80;
    @include screen(phone) {
      width: 52px;
      bottom: -48px;
      right: 18%;
    }
  }
}

.sticker-voucher {
  position: absolute;
  will-change: transform;

  &--product {
    opacity: .33;
    transform: rotate(7deg);
    @include screen(phone) {
      width: 80px;
      top: 12%;
      left: -12px;
    }
    @include screen(tabPortrait) {
      width: 160px;
      top: 40%;
      left: -40px;
    }
    @include screen(tabLandscape) {
      width: 160px;
      top: 40%;
      left: -32px;
    }
    @include screen(desktop) {
      width: 160px;
      top: 40%;
      left: -32px;
    }
    @include screen(desktopWide) {
      width: 160px;
      top: 40%;
      left: -32px;
    }
  }

  &--bif {
    opacity: .33;
    transform: rotate(-20deg);
    @include screen(phone) {
      width: 72px;
      top: 12%;
      right: -4px;
    }
    @include screen(tabPortrait) {
      width: 120px;
      top: 40%;
      right: -20px;
    }
    @include screen(tabLandscape) {
      width: 120px;
      top: 40%;
      right: -20px;
    }
    @include screen(desktop) {
      width: 120px;
      top: 40%;
      right: -20px;
    }
    @include screen(desktopWide) {
      width: 120px;
      top: 40%;
      right: -20px;
    }
  }

  &--brush {
    opacity: .40;
    @include screen(phone) {
      transform: rotate(0deg);
      width: 80px;
      bottom: -30px;
      left: calc(50%);
    }
    @include screen(tabPortrait) {
      transform: rotate(-50deg);
      width: 120px;
      top: 90%;
      right: 10%;
    }
    @include screen(tabLandscape) {
      transform: rotate(-50deg);
      width: 120px;
      top: 90%;
      right: 10%;
    }
    @include screen(desktop) {
      transform: rotate(-50deg);
      width: 120px;
      top: 90%;
      right: 10%;
    }
    @include screen(desktopWide) {
      transform: rotate(-50deg);
      width: 120px;
      top: 90%;
      right: 10%;
    }
  }

  &--prize {
    opacity: .64;
    @include screen(phone) {
      transform: rotate(0);
      width: 40px;
      bottom: 0px;
      left: calc(50% - 64px);
    }
    @include screen(tabPortrait) {
      transform: rotate(37deg);
      width: 96px;
      top: 85%;
      left: 8%;
    }
    @include screen(tabLandscape) {
      transform: rotate(37deg);
      width: 96px;
      top: 85%;
      left: 8%;
    }
    @include screen(desktop) {
      transform: rotate(37deg);
      width: 96px;
      top: 85%;
      left: 8%;
    }
    @include screen(desktopWide) {
      transform: rotate(37deg);
      width: 96px;
      top: 85%;
      left: 8%;
    }
  }
}
