.Emina__Survey {

// Display Text
.display1 {
  color: $dark-hex-60;
  font-family: $font-secondary;
  font-size: $display-1;
  line-height: $line-reset;
  letter-spacing: -1.44px;
  font-weight: 500;
}
.display2 {
  color: $dark-hex-60;
  font-family: $font-secondary;
  line-height: 0.8;
  letter-spacing: -1.628px;
  font-weight: 500;
  @include screen(phone) {
    font-size: $display-3;
  }
  @include screen(tabPortrait) {
    font-size: $display-2;
  }
  @include screen(tabLandscape) {
    font-size: $display-2;
  }
  @include screen(desktop) {
    font-size: $display-2;
  }
  @include screen(desktopWide) {
    font-size: $display-2;
  }
}
.display3 {
  color: $dark-hex-60;
  font-family: $font-secondary;
  line-height: $line-reset;
  font-weight: $bold;
  letter-spacing: -1.44px;
  font-weight: 500;
  @include screen(phone) {
    font-size: $heading-1;
  }
  @include screen(tabPortrait) {
    font-size: $display-3;
  }
  @include screen(tabLandscape) {
    font-size: $display-3;
  }
  @include screen(desktop) {
    font-size: $display-3;
  }
  @include screen(desktopWide) {
    font-size: $display-3;
  }
}

// Heading Text
.heading1 {
  font-family: $font-primary;
  font-size: $heading-1;
  line-height: 56px;
  letter-spacing: -1.44px;
  font-weight: $bold;
}
.heading1Alt {
  font-family: $font-secondary;
  font-size: $heading-1Alt;
  line-height: 60px;
  letter-spacing: -1.44px;
  font-weight: $light;
}
.heading2 {
  font-family: $font-primary;
  font-size: $heading-2;
  line-height: 44px;
  letter-spacing: -1.2px;
  font-weight: $bold;
}
.heading2Alt {
  font-family: $font-secondary;
  font-size: $heading-2Alt;
  line-height: 44px;
  letter-spacing: -1.2px;
  font-weight: $light;
}
.heading3 {
  font-family: $font-primary;
  font-size: $heading-3;
  line-height: 36px;
  letter-spacing: -0.8px;
  font-weight: $bold;
}
.heading3Alt {
  font-family: $font-secondary;
  font-size: $heading-3Alt;
  line-height: 36px;
  letter-spacing: -0.8px;
  font-weight: $light;
}
.heading4 {
  font-family: $font-primary;
  font-size: $heading-4;
  line-height: 28px;
  letter-spacing: -0.8px;
  height: 20px;
  font-weight: $bold;
}
.heading4Alt {
  font-family: $font-secondary;
  font-size: $heading-4Alt;
  line-height: 28px;
  height: 20px;
  letter-spacing: -0.8px;
  font-weight: $light;
}
.heading5 {
  font-family: $font-primary;
  font-size: $heading-5;
  line-height: 24px;
  height: 18px;
  letter-spacing: -0.24px;
  font-weight: $bold;
}
.heading5Alt {
  font-family: $font-primary;
  font-size: $heading-5;
  line-height: 24px;
  height: 18px;
  letter-spacing: -0.24px;
  font-weight: $medium;
}
.heading6 {
  font-family: $font-primary;
  font-size: $heading-6;
  line-height: 21px;
  letter-spacing: -0.24px;
  font-weight: $bold;
}
.heading6Alt {
  font-family: $font-primary;
  font-size: $heading-6;
  line-height: 21px;
  height: 16px;
  letter-spacing: -0.24px;
  font-weight: $medium;
}

// Body Text
.plarge {
  font-family: $font-primary;
  font-size: $body-3;
  line-height: 28px;
  font-weight: $regular;
}
.pmedium {
  font-family: $font-primary;
  font-size: $body-2;
  line-height: 26px;
  font-weight: $regular;
}
.psmall {
  font-family: $font-primary;
  font-size: $body-1;
  line-height: 21px;
  font-weight: $regular;
}

// Captions
.captionBold {
  font-family: $font-primary;
  display: inline-block;
  font-size: $caption-1;
  font-weight: $medium;
  text-transform: uppercase;
  line-height: 16px;
}
.caption {
  font-family: $font-primary;
  display: inline-block;
  font-size: $caption-1;
  font-weight: $regular;
  line-height: 16px;
}

// Label
.labelSmall {
  cursor: pointer;
  display: block;
  font-family: $font-primary;
  color: $dark-alpha-60;
  font-weight: 800;
  text-transform: uppercase;
  margin: $space-stack-s;
  font-size: 13px;
  line-height: 16px;
}

.labelMedium {
  cursor: pointer;
  display: block;
  font-family: $font-primary;
  color: $dark-alpha-70;
  font-weight: 500;
  margin: $space-stack-s;
  font-size: $heading-5;
  line-height: 22px;
}

.message {
  font-family: $font-primary;
  font-size: $heading-5;
  font-weight: $regular;
  color: $dark-alpha-60;
}

.raw {
  padding-bottom: 0;
}

.link {
  cursor: pointer;
  font-family: $font-primary;
  color: $brand-primary-200;
  text-decoration: none;
  transition: all 0.32s;

  &:hover {
    transition: all 0.28s;
    text-decoration: underline;
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.breakWord {
  hyphens: auto;
  word-wrap: break-word;
}

.truncate {
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: normal;
}

}
