.voucher-container {
  position: relative;
  background-color: $light-hex-100;
  background-size: 28px 28px;
  background-position: -8px -8px;
  overflow: hidden;
}

.voucher-area {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 99;
}

.voucher {
  position: relative;
  width: 100%;
  max-width: 720px;
  background-color: $light-hex-100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 96px 48px 112px;

  &::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: -32px;
    bottom: -32px;
    background-color: $brand-secondary-70;
    background-image: linear-gradient($light-hex-100 1px, transparent 0), linear-gradient(90deg, $light-hex-100 1px, transparent 0);
    background-size: 20px 20px;
    background-position: -12px -12px;
    z-index: -1;
  }

  &__header {
    padding-top: 56px;
  }

  &__title {
    z-index: 10;
    text-align: center;
    margin-bottom: 16px;
  }

  // &__logo {
  //   margin: $space-stack-l;
  // }

  &__code {
    background-color: $brand-secondary-70;
    color: $light-hex-100;
    padding: $space-l $space-xl;
    font-size: $heading-2;
    text-transform: uppercase;
    margin: $space-stack-ll;
  }

}

.voucher__support {
  z-index: 0;
  position: relative;
}

.support__brush {
  opacity: 0.4;
  z-index: -1;
  position: absolute;
  will-change: transform;
  @include screen(phone) {
    transform: rotate(-17deg);
    width: 240px;
    top: calc(50% - 40px);
    left: calc(50% - 120px);
  }
  @include screen(tabPortrait) {
    transform: rotate(-17deg);
    width: 320px;
    top: calc(50% - 60px);
    left: calc(50% - 160px);
  }
  @include screen(tabLandscape) {
    transform: rotate(-17deg);
    width: 320px;
    top: calc(50% - 60px);
    left: calc(50% - 160px);
  }
  @include screen(desktop) {
    transform: rotate(-17deg);
    width: 320px;
    top: calc(50% - 60px);
    left: calc(50% - 160px);
  }
  @include screen(desktopWide) {
    transform: rotate(-17deg);
    width: 320px;
    top: calc(50% - 60px);
    left: calc(50% - 160px);
  }
}

.keep-supporting-emina {
  z-index: 1;
  // position: relative;
  max-width: 100%;
  text-align: center;
  // &::after {
  //   position: absolute;
  //   content: url('/assets/stickers/smiley.svg');
  //   @include screen(phone) {
  //     display: none;
  //     width: 16px;
  //     left: calc(50% - 10px);
  //     bottom: calc(100%);
  //   }
  //   @include screen(tabPortrait) {
  //     width: 24px;
  //     left: calc(100% + 8px);
  //   }
  //   @include screen(tabLandscape) {
  //     width: 24px;
  //     left: calc(100% + 8px);
  //   }
  //   @include screen(desktop) {
  //     width: 24px;
  //     left: calc(100% + 8px);
  //   }
  //   @include screen(desktopWide) {
  //     width: 24px;
  //     left: calc(100% + 8px);
  //   }
  // }
}
